/*Section 1 : image with navbar on it*/

#image{
  height:50vh;
  width: 100vw;
  background-image: url("/images/mod.jpg");
  background-size: cover;

  #navigation{
    background:transparent;
    border: 0px;
    text-transform: uppercase;

    #togglebtn{
        right:0;
        top:0;
        border-radius: 0px;
        background-color:#1ac7c3;
        margin-top: 0; 
        border: 0;
    }

    .btnlines{
        background-color: #fff;
    }

    .styling{
      color: #f26c4f;
      font-family: 'Open Sans', sans-serif;
      font-size: 9px;
  }
}
}

/*Section 2: Left section below the image*/


#secpos{
  position:relative;
  top:-24px;
}

#colpos{
 position:relative;
 top:-24px;
}

.content{
  min-height: 100vh;
  background-color: #ffffff;
}

.parastyle{
 font-size: 8px;
 color: #7b92a4;
 font-weight: 600;
 line-height: 12px;
 font-family: 'Open Sans', sans-serif;
}

#newstyle{
  font-style: italic;
}

#btndef{
    position: absolute;
    right: 0;
    top: 0;
    border: 0px;
    border-radius: 0px;
    background-color: #f26c4f;
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;
}

.textstyle{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #002d52;
    font-weight: 400;
}

.headstyle{
    font-style: italic;
    color: #7b92a4;
    font-weight: 600;
    line-height: 12px;
    font-family: 'Open Sans', sans-serif;
}

/*Section 3: Right section below the image*/

#speak{
    min-height:100vh;
    background-color: #1ac7c3;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 300; 
}

.matter{
 position: absolute;
 top: 50%;
 transform:translateY(-50%);
}

#talk{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
}

/*Section4: Contact Section*/

.contactsec{
    background-color: #f26c4f;
    color: #ffffff;
    max-height: 60vh;
}

#secfstyle{
    color: #ffffff;
}

#conhstyle{
    color: #ffffff;
}

#conpstyle{
    color: #ffffff;
}

#btncontact{
    color: #f26c4f;
    background-color: #ffffff;
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Raleway' , sans-serif;
    font-size: 10px;
    font-weight: 600;
}

#lstyle{
    color: #ffffff;
}

/*Section 5:Footer*/

.foot{
    background-color: #f26c4f;
    color: #ffffff;
    height: 30vh;
}

#pos{
   position: relative;
   top: 50%;
   transform:translateY(-50%);
}

#footstyle{
    color: #ffffff;
}






